.nav-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;

  gap: 10px;
  .icon {
    cursor: pointer;
    color: #555;
  }
  .desc {
    font-size: 14px;
    color: #555;
    &:hover {
      color: #000;
    }
  }
}
